@model PaginatedList<UrlModel>

@{
    ViewData["Title"] = "URL Stats";
    ViewData["Menu"] = "navbar custom-navbar navbar-fixed-top top-nav-collapse";

    var firstDisabled = !Model.HasFirstPage ? "disabled" : "";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var lastDisabled = !Model.HasLastPage ? "disabled" : "";
    var showPagination = Model.PageIndex > Model.TotalPages ? "hidden" : "";
}

<!-- FEATURE -->
<section id="feature" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Custom name
                        </th>
                        <th>
                            Url
                        </th>
                        <th>
                            Clicks
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var url in Model)
                    {
                        <tr>
                            <td>
                                @url.ShortUrl
                            </td>
                            <td>
                                <a href="@url.Url">@((url.Url.Length < 50) ? url.Url.Substring(0, url.Url.Length) : $"{url.Url.Substring(0, 50)}...")</a>
                            </td>
                            <td>
                                @url.Hits
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <ul class="pagination @showPagination">
                    <li class="@firstDisabled">
                        <a asp-action="Stats" asp-route-page="1" class="btn btn-default @firstDisabled"><i class="glyphicon glyphicon-fast-backward"></i></a>
                    </li>
                    <li class="@prevDisabled">
                        <a asp-action="Stats" asp-route-page="@(Model.PageIndex -1)" class="btn btn-default @prevDisabled"><i class="glyphicon glyphicon-step-backward"></i></a>
                    </li>
                    <li>
                        <a>@Model.PageIndex</a>
                    </li>
                    <li class="@nextDisabled">
                        <a asp-action="Stats" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled"><i class="glyphicon glyphicon-step-forward"></i></a>
                    </li>
                    <li class="@lastDisabled">
                        <a asp-action="Stats" asp-route-page="@Model.TotalPages" class="btn btn-default @lastDisabled"><i class="glyphicon glyphicon-fast-forward"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
