@model PaginatedList<UrlModel>

@{
    ViewData["Title"] = "URL Stats";
    ViewData["Menu"] = "navbar custom-navbar navbar-fixed-top top-nav-collapse";
}

<!-- FEATURE -->
<section id="feature" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Custom name
                        </th>
                        <th>
                            Url
                        </th>
                        <th>
                            Clicks
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var url in Model)
                    {
                        <tr>
                            <td>
                                @url.ShortUrl
                            </td>
                            <td>
                                @((url.Url.Length < 50) ? url.Url.Substring(0, url.Url.Length) : $"{url.Url.Substring(0, 50)}...")
                            </td>
                            <td>
                                @url.Hits
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <ul class="pagination">
                    <li class="page-item @(!Model.HasFirstPage? "disabled":"")">
                        <a asp-route-page="1" class="page-link"><i class="glyphicon glyphicon-fast-backward"></i></a>
                    </li>

                    <li class="page-item @(!Model.HasPreviousPage? "disabled":"")">
                        <a asp-route-page="@(Model.PageIndex -1)" class="page-link"><i class="glyphicon glyphicon-step-backward"></i></a>
                    </li>
                    <li class="page-item  @(!Model.HasNextPage? "disabled":"")">
                        <a asp-route-page="@(Model.PageIndex + 1)" class="page-link"><i class="glyphicon glyphicon-step-forward"></i></a>
                    </li>

                    <li class="page-item  @(!Model.HasLastPage? "disabled":"")">
                        <a asp-route-page="@Model.TotalPages" class="page-link"><i class="glyphicon glyphicon-fast-forward"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
